    <div class="modal fade" id="aggiuntaStudente" tabindex="-1"
        aria-labelledby="aggiuntaStudenteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="aggiuntaStudenteLabel">Aggiungi nuovo studente</h3>
                </div>
                <div class="modal-body">
                    <label for="classeSelected" class="form-label">Classe</label>
                    <select class="form-select" id="classeSelected" name="classeSelected" [(ngModel)]="classeId"
                        (change)="GetStudentiNoDoc()">
                        @if(allClasses && allClasses.length > 0) {
                        @for (classe of allClasses; track $index) {
                        <option [value]="classe.Id">{{classe.GetFullNome()}}</option>
                        }
                        }
                    </select>

                    <label for="studenteSelected" class="form-label">Studente</label>
                    <select class="form-select" id="studenteSelected" [(ngModel)]="studenteEmail"
                        name="studenteSelected">
                        @if(studentiService.studentiNoDoc && studentiService.studentiNoDoc.length > 0) {
                        @for (studente of studentiService.studentiNoDoc; track $index) {
                        <option [value]="studente.Email">{{studente.GetFullName()}}</option>
                        }
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary" (click)="SaveStudente()" data-bs-dismiss="modal">Salva aggiunta</button>
                </div>
            </div>
        </div>
    </div>