.step-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: #aaa;
    font-size: 0.9rem;
    transition: 0.3s;
}

.dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: bold;
    /* transition: 0.3s; */
}

/* linea tra step */
.sp-line {
    flex: 1;
    height: 4px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 2px;
    /* transition: 0.3s; */
}
 
@media (max-width: 400px){
    .sp-text{
        display: none !important;
    }
}

/* STEP ATTIVO */
.sp.active {
    cursor: pointer;
    color: var(--blue-color);
}

.sp-line.active{
    background-color: var(--blue-color);
}

.sp.active .dot {
    background-color: var(--blue-color);
    color: white;
    transform: scale(1.1);
}

/* effetto hover */
.sp.active:hover .dot {
    transform: scale(1.15);
}