# Porta di ascolto https
HTTPS_PORT=3000

# Durata del token in secondi (Nota: 1800 secondi = 30 minuti)
DURATA_TOKEN=1800

# URL di connessione al database PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/nome_database?schema=public"

# Lista di domini autorizzati per le richieste CORS (separati da virgola)
WHITELIST="https://localhost:4200,https://pdp-app.it,https://staging.pdp-app.it"

# Percorso della cartella dove salvare gli allegati
ALLEGATI_PATH="./allegati"

#percorso della cartella dove salvare i documenti approvati
DOCUMENTI_PATH="./documenti"