# Porta di ascolto https
HTTPS_PORT=3000
# Durata del token in secondi (Nota: 300 secondi = 5 minuti)
DURATA_TOKEN=300
# URL di connessione al database PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/nome_database?schema=public"
# Percorso della cartella dove salvare gli allegati
ALLEGATI_PATH="./allegati"
# Lista di domini autorizzati per le richieste CORS (separati da virgola)
WHITELIST="https://localhost:4200,https://pdp-app.it,https://staging.pdp-app.it"