.info-card{
    background-color: var(--bg-blue-color-fade);
    filter: drop-shadow(0 0 4px var(--bg-blue-color));
}

.bi:before{
    font-size: 24px;
    background-color: var(--bg-icon-color-fade);
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 800px){
    h3{
        font-size: 0.9rem !important;
    }
}