/* Card Principale */
.btn-card {
    z-index: 0;
    cursor: default;
}

.documento-card {
    transition: 0.3s ease;
    cursor: pointer;
}

.documento-card:hover {
    background-color: var(--light-grey);
    transform: translateY(-2px);
}

.documento-card:hover .icon-box {
    background-color: var(--light-color);
}

/* Icon Box */
.icon-box {
    background-color: var(--white);
    color: var(--blue-color);
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: 0.2s;
}

/* Badge Personalizzati */
.badge {
    font-size: 0.875rem;
    padding: 8px 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.badge-dsa {
    background-color: var(--bg-DSA);
    color: var(--color-DSA);
}

.badge-bes {
    background-color: var(--bg-BES);
    color: var(--color-BES);
}

.badge-anno {
    background-color: var(--bg-Anno);
    color: var(--color-Anno);
}

/* Action btn */
.action-btn {
    width: 32px;
    aspect-ratio: 1/1;
    padding: 0;
}

/* Responsive */
@media (max-width: 430px) {
    .card-btn {
        gap: .5rem !important;
        padding: 1.25rem .75rem !important;
    }

    .icon-box {
        width: 53px;
        height: 53px;
        min-width: 50px;
        font-size: 1.2rem;
    }

    .badge {
        font-size: 0.65rem;
        padding: 7px 9px;
    }

}

/* icone view e edit */
.bi-download,
.bi-trash {
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 18px;
}

/* Bottoni */
.btn {
    color: var(--bg-blue-dark-color);
    border: 1px solid var(--bg-blue-dark-color);
}

.btn:hover {
    color: var(--light-color);
    background-color: var(--bg-blue-dark-color);
}

.delete-btn:hover {
    color: var(--light-color);
    background-color: #4d1229;
}