/* Card Principale */
.documento-card {
    transition: 0.3s ease;
    cursor: pointer;
}

.documento-card:hover {
    background-color: var(--light-grey);
    transform: translateY(-2px);
}

/* Icon Box */
.icon-box {
    background-color: var(--white);
    color: var(--blue-color);
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: 0.2s;
}

.documento-card:hover .icon-box {
    background-color: var(--light-color);
}

/* Badge Personalizzati */
.badge {
    font-size: 0.875rem;
    padding: 8px 10px;
    border-radius: 10px;
}

.badge-dsa {
    background-color: var(--bg-DSA);
    color: var(--color-DSA);
}

.badge-bes {
    background-color: var(--bg-BES);
    color: var(--color-BES);
}

.badge-anno {
    background-color: var(--bg-Anno);
    color: var(--color-Anno);
}

/* Action btn */
.action-btn {
    /* width: 120px;
    height: 40px; */
    padding: 0 10px;
}

/* Responsive */
@media (max-width: 420px) {
    .documento-card {
        gap: .5rem !important;
        padding: 1.25rem .75rem !important;
    }

    .icon-box {
        width: 53px;
        height: 53px;
        min-width: 50px;
        font-size: 1.2rem;
    }

    .badge {
        font-size: 0.55rem;
        padding: 7px 9px;
    }
}

@media (max-width: 576px) {
    .action-btn {
        width: 40px;
    }
}