.title-classe {
    position: relative;
}

.title-classe p{
    color: var(--color);
    border: 1px solid var(--color);
    background-color: var(--color-hover);
    padding: 5px 10px;
    border-radius: 10px;
    width: auto !important;
    z-index: 1;
}

.title-classe::after {
    content: "";
    top: calc(50% - 2.5px);
    left: 0;
    width: 100%;
    border: 1.5px solid var(--color);
    position: absolute;
    z-index: 0;
}

.container-card{
    min-width: 330px;
}

@media (max-width: 768px){
    .container-card{
        min-width: 100%;
    }   
}

/* LOADER */
.loader {
    width: 3rem;
    height: 3rem;
    color: var(--color) !important;
    --bs-spinner-border-width: 7px !important;
}