td:first-child{
    border-left: 0;
}

td:last-child{
    border-right: 0;
}

td{
    border-left: 2px solid var(--blue-color);
    border-right: 2px solid var(--blue-color);
}

.form-check-input{
    margin: 0;
    width: 25px;
    height: 25px;
    border: 1px solid var(--blue-color);
}

input{
    cursor: pointer;
}

input:checked{
    background-color: var(--blue-color) !important;
    margin-left: calc(25px + .25rem);
}

.sticky-col {
    background-color: var(--blue-color);
    color: var(--light-color);
  position: sticky;
  left: 0;
  /* background: white; IMPORTANTISSIMO */
  z-index: 3;
}

.bi{
    width: 25px;
    height: 25px;
}

.bi-pen {
  display: inline-block;
  cursor: pointer;
}

.bi-pen::before{
    transform: rotate(-13deg);
}

/* Hover → va avanti */
.bi-pen:hover {
  animation: scrivi 0.4s ease forwards;
}

/* Quando NON è hover → torna indietro */
.bi-pen:not(:hover) {
  animation: scriviBack 0.4s ease forwards;
}

@keyframes scrivi {
  0%   { transform: translate(0, 0) rotate(0deg); }
  25%  { transform: translate(1px, 1px) rotate(10deg); }
  50%  { transform: translate(2px, 0) rotate(-5deg); }
  75%  { transform: translate(3px, 2px) rotate(10deg); }
  100% { transform: translate(4px, 0) rotate(0deg); } /* posizione finale */
}

@keyframes scriviBack {
  0%   { transform: translate(4px, 0) rotate(0deg); }
  25%  { transform: translate(3px, 2px) rotate(10deg); }
  50%  { transform: translate(2px, 0) rotate(-5deg); }
  75%  { transform: translate(1px, 2px) rotate(10deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}