/* Questo colpirà tutti i componenti dentro il router-outlet */
:host ::ng-deep .section-form {
    border-radius: 15px;
    margin: 20px auto;
    padding: 1.5rem 1.8rem;
    border: 1px solid var(--blue-color);
    background-color: var(--light-grey);
}

/* modal add */

:host ::ng-deep .btn-add, .btn-add:focus {
    width: 100%;
    gap: 1rem;
    padding: 15px 20px;
    margin: 10px 0;
    border: 2px solid transparent;
    background-color: var(--light-grey-color) !important;
    border-radius: 10px;
}

@media (min-width: 340px) {
    :host ::ng-deep .btn-add {
        padding: 10px 15px;
    }
}

:host ::ng-deep .btn-add:hover {
    border: 2px dashed var(--dark-blue-color) !important;
}

:host ::ng-deep .btn-add:hover .text-add{
    font-weight: 900;
}

:host ::ng-deep .btn-add:hover .bi{
    transform: scale(1.2);
}

