.form-card {
    box-shadow: 0 0 35px -5px var(--dark-shadow-color);
    background-color: var(--light-color);
}

/* bottone di google nascosto
.google-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}

/* Forza l'iframe (figlio diretto) a occupare lo spazio necessario 
/* Centering the iframe correctly 
.google-overlay ::ng-deep iframe {
    position: absolute !important;
    top: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    /* This handles the "width/2" logic automatically 
    height: 54px !important;
    width: 100%;
} */

.google-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.01; /* Quasi invisibile ma presente */
    cursor: pointer;
    overflow: hidden;
}

/* Importante: forziamo l'iframe interno di Google a prendersi tutto lo spazio */
.google-overlay ::ng-deep iframe {
    width: 100% !important;
    height: 54px !important;
    /* transform: scale(10); Trucco: lo scaliamo tantissimo così l'area cliccabile copre tutto */
    transform-origin: center;
    padding-left: 10px !important;
}

.btn-google {
    border: 2px solid var(--light-grey);
    background-color: var(--light-color);
    padding: 12px 7px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-google:has(+ .google-overlay:hover) {
    box-shadow:
        -3px -3px 8px rgba(66, 133, 244, 0.8),
        /* Blu Google (Alto-Sinistra) */
        3px -3px 8px rgba(234, 67, 53, 0.6),
        /* Rosso Google (Alto-Destra) */
        3px 3px 8px rgba(251, 188, 5, 0.6),
        /* Giallo Google (Basso-Destra) */
        -3px 3px 8px rgba(52, 168, 83, 0.6) !important;
    /* Verde Google (Basso-Sinistra)*/

    transform: scale(0.95);
    border-color: transparent;
}

.btn-google:has(+ .google-overlay:hover) svg {
    transition: 0.3s;
    transform: rotate(360deg);
}

.divider {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 20px 0;
    font-size: 0.8rem;
}

.divider::before,
.divider::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #e0e4e8;
}

.info-login {
    background-color: var(--light-color);
    filter: drop-shadow(0 0 4px var(--light-grey));
}

.info-login p {
    font-size: 0.9rem;
}

.bi {
    font-size: 24px;
    color: var(--dark-blue-color);
}