<section class="container-xl mx-auto">
    <app-documenti-header (annoScolastico)="SetFilterAnnoScolastico($event)"></app-documenti-header>

    <app-documenti-filters (FilterDSA_BES)="SetFilterDSA_BES($event)"
        (FilterStato)="SetFilterStato($event)" (searchTermEvent)="SearchDocuments($event)"
        [searchTerm]="searchTerm"></app-documenti-filters>

    <div class="row container-xl g-4 mx-auto py-4 px-0 px-sm-5 px-lg-3 px-xl-4">
        @if (isLoadingDocs) {
            <div class="col-12 d-flex justify-content-center my-5 py-5">
                <div class="spinner-border loader" role="status">
                    <span class="visually-hidden">Caricamento...</span>
                </div>
            </div>
        }
        @else if(documentiService.documenti.length > 0)
        {
            @for (documenti of documentiService.documenti; track $index)
            {
                <div class="col-12 col-lg-6 px-0 px-sm-2">
                    <app-documenti-card [documento]="documenti"></app-documenti-card>
                </div>
            }
        }
        @else
        {
            <div class="col-12 my-5">
                <h3 class="fw-bold text-center">Nessuno documento trovato</h3>
                <p class="text-muted text-center">
                    Non ci sono documenti che corrispondono alla tua ricerca.
                </p>
            </div>
        }
    </div>
</section>

<app-modal-delete-documento></app-modal-delete-documento>