.bi {
    color: var(--color);
}

input[type="text"],
select {
    transition: 0.2s;
    border: 1px solid transparent;
}

input[type="text"]:focus,
select:focus {
    border: 1px solid var(--color) !important;
}

option.selected,
option:hover {
    background-color: var(--color-hover) !important;
    color: var(--color) !important;
}

.badges-filter {
    padding: 8px 17px;
    border-radius: 20px;
    border: 1px solid var(--color-hover-dark);
    background-color: var(--light-grey);
    transition: .2s;
}

.badges-filter:hover {
    border-color: var(--color);
    color: var(--color);
    background-color: var(--color-hover);
}

.badges-filter.active {
    border-color: var(--color-hover);
    color: var(--light-color);
    background-color: var(--color);
}

.container-filters {
    background-color: var(--color-hover-dark);
}