<div class="container-lg pt-2 pb-4">
    <section class="section-form px-3 px-sm-5">
        @if(activatedRoute.snapshot.data['root'] == "modifica")
        {
            <app-documenti-edit-breadcrumb [currentRoute]="'allegati'"></app-documenti-edit-breadcrumb>
        }
        <h3 class="mt-4 mt-sm-0" [class.fs-5]="activatedRoute.snapshot.data['root'] == 'crea'"
            [class.fs-3]="activatedRoute.snapshot.data['root'] == 'modifica'">
            @if(activatedRoute.snapshot.data['root'] == 'crea')
            {
                Inserisci gli allegati
            }
            @else
            {
                Allegati inseriti
            }
        </h3>
        <hr>

        @if(activatedRoute.snapshot.data['root'] == 'modifica')
        {
            <div class="mb-4">
                <h4 class="text-secondary mb-3 fs-5">Documenti già presenti</h4>
                @if (isLoading) {
                    <div class="d-flex justify-content-center my-5 py-4">
                        <div class="spinner-border loader" role="status">
                            <span class="visually-hidden">Caricamento allegati...</span>
                        </div>
                    </div>
                }@else {
                    <div class="d-flex gap-3 flex-wrap">
                        @for (allegato of allegatiService.allegatiDoc; track $index) {
    
                            <div (click)="ShowAllegato(allegato)"
                                class="allegato position-relative rounded d-flex flex-column align-items-center justify-content-center p-3 shadow-sm">
    
                                @if(activatedRoute.snapshot.data['root'] == "modifica" && (docenteService.docente.Ruolo == Ruolo.ADMIN || (canEdit)) && documentiService.documentoSelected.Stato == StatoDocumento.IN_BOZZA) {
                                    <button type="button"
                                        class="btn btn-sm btn-delete position-absolute rounded-circle d-flex align-items-center justify-content-center"
                                        (click)="$event.stopPropagation(); RemoveAllegato(allegato)">
                                        <i class="bi bi-x-circle-fill fs-5"></i>
                                    </button>
                                }
    
                                @if (allegato.File.type.startsWith('image/')) {
                                    <i class="bi bi-file-earmark-image text-success fs-1"></i>
                                }
                                @else if (allegato.File.type == 'application/pdf') {
                                    <i class="bi bi-file-earmark-pdf text-danger fs-1"></i>
                                }
                                @else if (allegato.File.name.endsWith('.docx')) {
                                    <i class="bi bi-filetype-docx text-primary fs-1"></i>
                                }
                                @else if (allegato.File.name.endsWith('.doc')) {
                                    <i class="bi bi-filetype-doc text-primary fs-1"></i>
                                }
                                @else {
                                    <i class="bi bi-file-earmark text-secondary fs-1"></i>
                                }
    
                                <div class="file-info text-center mt-2 w-100 overflow-hidden">
                                    <span class="file-name text-dark fw-bold text-break d-block" [title]="allegato.File.name">
                                        {{ allegato.File.name }}
                                    </span>
                                    <small class="text-muted d-block">{{ (allegato.File.size / 1024).toFixed(1) }} KB</small>
                                </div>
                            </div>
    
                        }
                        @empty {
                            <p class="text-muted fst-italic">Nessun allegato presente.</p>
                        }
                    </div>
                }
            </div>
        }

        @if((activatedRoute.snapshot.data['root'] == "crea" && docentiService.docente.Ruolo != Ruolo.DOCENTE) || 
            (activatedRoute.snapshot.data['root'] == "modifica" && (docenteService.docente.Ruolo == Ruolo.ADMIN || (canEdit)) && documentiService.documentoSelected.Stato == StatoDocumento.IN_BOZZA))
        {
        <hr>
        <!-- Area di drop principale -->
        <div class="dropzone-wrapper">
            <ngx-dropzone (change)="OnSelect($event)" class="custom-dropzone px-1 px-sm-3 py-2" [multiple]="true"
                [maxFileSize]="5000000"
                [accept]="'image/*,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document'">

                <ngx-dropzone-label class="dropzone-content">
                    <i class="bi bi-folder-plus secondary-text-color fs-1"></i>
                    <h3 class="fs-2 secondary-text-color m-0">Trascina i file qui</h3>
                    <div class="mb-3">
                        <p class="m-0">oppure</p>
                        <span class="secondary-text-color text-decoration-underline">sfoglia i tuoi documenti</span>
                    </div>
                    <small class="opacity-75">Dimensione massima: 5MB</small>
                </ngx-dropzone-label>

                <div class="d-flex gap-2 flex-wrap justify-content-center overflow-hidden">
                    @for (file of allegatiService.allegati; track $index)
                    {
                        <ngx-dropzone-preview class="px-2 px-sm-3" ngProjectAs="ngx-dropzone-preview" [file]="file.File"
                            [removable]="true" (removed)="RemoveNewAllegato(file)">
                            <ngx-dropzone-label class="m-0">
                                <!-- ICONE -->
                                @if (file.File.type.startsWith('image/')) {
                                    <i class="bi bi-file-earmark-image text-success fs-1"></i>
                                }
                                @else if (file.File.type === 'application/pdf') {
                                    <i class="bi bi-file-earmark-pdf text-danger fs-1"></i>
                                }
                                @else if (file.File.name.endsWith('.docx')) {
                                    <i class="bi bi-filetype-docx text-primary fs-1"></i>
                                }
                                @else if (file.File.name.endsWith('.doc')) {
                                    <i class="bi bi-filetype-doc text-primary fs-1"></i>
                                }
                                @else {
                                    <i class="bi bi-file-earmark text-secondary fs-1"></i>
                                }

                                <div class="file-info">
                                    <span class="file-name text-dark fw-bold text-break">{{ file.File.name }}</span>
                                    <small class="text-muted d-block">{{ (file.File.size / 1024).toFixed(1) }} KB</small>
                                </div>
                            </ngx-dropzone-label>
                        </ngx-dropzone-preview>
                    }
                </div>

            </ngx-dropzone>
        </div>
        }

        @if(activatedRoute.snapshot.data['root'] == "modifica" && (docenteService.docente.Ruolo == Ruolo.ADMIN || (canEdit)) && documentiService.documentoSelected.Stato == StatoDocumento.IN_BOZZA)
        {
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary d-flex gap-2 align-items-center py-2 px-3 border-0 mt-3"
                    (click)="Edit()">
                    <p class="m-0">Salva e modifica</p>
                </button>
            </div>
        }
    </section>

    @if(activatedRoute.snapshot.data['root'] == "crea" && docentiService.docente.Ruolo != Ruolo.DOCENTE)
    {
        <div class="d-flex justify-content-between flex-wrap">
            <button type="button" class="btn btn-secondary d-flex gap-2 align-items-center py-2 pe-3 ps-2"
                (click)="docentiService.docente.Ruolo == Ruolo.ADMIN ? stepsService.GoStep('icf') : stepsService.GoStep('indicatori')">
                <i class="bi bi-chevron-left"></i>
                <p class="m-0">Indietro</p>
            </button>

            <button type="button" class="btn btn-primary d-flex gap-2 align-items-center py-2 px-3 border-0 fw-bold">
                <p class="m-0" (click)="PrepareDocumento()">Crea Documento</p>
            </button>
        </div>
    }
</div>

<button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#errorAllegati" #btnTrigger>
</button>

<app-modal-error></app-modal-error>