<nav class="navbar sticky-top navbar-expand-lg bg-header justify-content-center" data-bs-theme="dark">
    <div class="container-fluid row px-3 px-sm-4">
        <a class="col-3 navbar-brand img-logo-shadow d-flex align-items-center gap-3" routerLink="/">
            <img src="imgs/logos/logo-pdp-smart-white.png" alt="Logo" class="img-logo img-logo-sm rounded-3">
            <h1 class="text-white fs-2 m-0">PDP Smart</h1>
        </a>

        <button class="navbar-toggler p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-6 collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav gap-2 my-3 my-lg-0">
                <div class="nav-item">
                    <a class="nav-link text-white" routerLink="/indirizzi" routerLinkActive="active">Studenti</a>
                </div>
                <div class="nav-item">
                    <a class="nav-link text-white" [routerLink]="routesDocumento" routerLinkActive="active">Documenti</a>
                </div>

                <hr class="text-white d-lg-none">
                <div class="nav-item dropdown d-lg-none d-flex flex-column">
                    <a class="nav-link dropdown-toggle d-flex align-items-center gap-3 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @if (userImgPath) {
                            <img [src]="userImgPath" class="icon-profile rounded-circle border border-1" alt="Profilo">
                        } @else {
                            <i class="bi bi-person-circle fs-3"></i>
                        }
                        <span class="nav-link text-white">Prof. {{docentiService.docente.Cognome}}</span>
                    </a>
                    <ul class="dropdown-menu border-secondary">
                        <li (click)="logout()"><button class="dropdown-item text-danger"><i class="bi bi-box-arrow-right me-2"></i>Logout</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-3 d-none d-lg-flex justify-content-end">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center gap-3 text-white" 
                   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (userImgPath) {
                        <img [src]="userImgPath" class="icon-profile rounded-circle border border-1" alt="Profilo">
                    } @else {
                        <i class="bi bi-person-circle fs-3 d-flex align-items-center"></i>
                    }
                    <span class="prof-name nav-link text-white">Prof. {{docentiService.docente.Cognome}}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end shadow border-secondary w-100">
                    <li (click)="logout()"><button class="dropdown-item py-2 text-danger"><i class="bi bi-box-arrow-right me-2"></i>Logout</button></li>
                </ul>
            </div>
        </div>
    </div>
</nav>