.bg-header {
    background-color: var(--bg-blue-dark-color);
}

.navbar-toggler {
    width: 50px;
}

.nav-item {
    display: flex;
}

.nav-link,
.prof-name {
    font-size: 18px;
}

.nav-link {
    position: relative;
    padding: 0.2rem !important;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);

    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.3s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link.active {
    font-family: 'Geist Bold', sans-serif;
}

.icon-profile {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    border-radius: 8px;
    margin-top: 10px !important;
    background-color: var(--bg-blue-dark-color);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.dropdown-item {
    cursor: pointer;
    font-size: 16px;
    color: var(--white);
    background-color: var(--bg-blue-dark-color);
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}