.bg-blue {
    background-color: var(--bg-blue-dark-color);
    position: relative;
    color: var(--light-blue-color);
}

.sfuma,
.sfuma-lg {
    position: absolute;
    background-color: var(--bg-blue-color);
    z-index: 1;
}

.sfuma {
    width: 60%;
    height: 60%;
    filter: blur(100px);
}

.sfuma-lg {
    width: 90%;
    height: 90%;
    filter: blur(80px);
}

.subtitle {
    font-size: 1rem;
}

.description {
    font-size: 0.9rem;
}

@media (min-width: 992px) {
    .subtitle {
        font-size: 1.25rem;
    }
}

.h2 {
    font-size: 1.35rem;
}

@media (min-width: 835px) {
    .h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1304px) {
    .h2 {
        font-size: 2.5rem;
    }
}

.info-footer {
    font-size: 0.9rem;
}